# PYTHON BASICS ASSIGNMENT 1

# 01 
  * = Expression
    'hello' String
       -87.8 value
         - Expression
           / Expression
             + Expression
               6 value

# 02  
String is enclosed with single quotes or double quotes string can contain any type of data enclosed with quotes.
   Variable is used to assign object in python its basically a name given to the objects

# 03  
int = is a data type used to store a integer value eg: 675   
   float = is a data type used to store a decimal value eg: 45.90   
     Bool = is a data type used to store a boolean value eg: True

# 04   
An expression is made of arithmethic operations and variables.
  All expression perform a specific task and return a value.

# 05   
Statements is used to form a sequence of program, it represents an action or command to perform a specific task.
An expression is made of arithmethic operations and variables, All expression perform a specific task and return a value.

In [11]:
# 06   
bacon = 22
bacon + 1
##The variable bacon contain int value of 23

23

In [10]:
##  07
'spam' + 'spamspam'
'spam' * 3

'spamspamspam'

## 08   
Variable names cannot begin with a number 
eg: a = 'hgbjb'

# 09   
int()
   float()
     str()

##  10  
'I have eaten' + 99 + 'burritos'
This cause an error because we can only concatenate str+str not str+int
This can be fixed by giving 'i have eaten'+ '99'+'burritos' (converting 99 into str)